@import url("stacjonarny.css");
@import url("mobilka.css");
@import url("lasery.css");
@font-face {
    font-family: "gotham_bookregular";
    font-style: normal;
    font-weight: normal;

    src: url("../import/fonts/Gotham/gotham-book.eot");
    src: url("../import/fonts/Gotham/gotham-book.eot?#iefix") format("embedded-opentype"), url("../import/fonts/Gotham/gotham-book.woff2") format("woff2"), url("../import/fonts/Gotham/gotham-book.woff") format("woff"), url("../import/fonts/Gotham/gotham-book.ttf") format("truetype"), url("../import/fonts/Gotham/gotham-book.svg#gotham_bookregular") format("svg");
}
@font-face {
    font-family: "gotham_mediumregular";
    font-style: normal;
    font-weight: normal;

    src: url("../import/fonts/Gotham/gotham-medium.eot");
    src: url("../import/fonts/Gotham/gotham-medium.eot?#iefix") format("embedded-opentype"), url("../import/fonts/Gotham/gotham-medium.woff2") format("woff2"), url("../import/fonts/Gotham/gotham-medium.woff") format("woff"), url("../import/Gotham/gotham-medium.ttf") format("truetype"), url("../import/fonts/Gotham/gotham-medium.svg#gotham_mediumregular") format("svg");
}
