.minimal {
    height: 40px !important;
    overflow: hidden;

    -webkit-transition: all 4s linear;
            transition: all 4s linear;

    border: 4px inset ;
}
.minimal:before {
    position: absolute;

    display: block;
    width: 0;
    margin: 0 auto;
    overflow: visible;

    font-size: xx-large;
    font-weight: 800;

    content: attr(id);
    text-align: center;
    text-transform: uppercase;

    opacity: 1;
    color: black;
}
.minimal * {
    opacity: .4;
    text-shadow: 4px 4px 4px red;
}
