@media only screen and (max-width: 700px  ) {
	.initials{    position: absolute;
    top: 7rem;
    left: 20rem;}
    .nav-ref:hover {
        top: 0;
        z-index: 2;

        height: 40rem;

    padding: 7rem 2rem 3rem;
        opacity: 1;
    }
    .nav:before {
        position: absolute;
        right: 50%;
        z-index: 0;

        font-size: 4.5rem;

        content: "MENU";
    }
    .nav-ref {  
		position: relative;
    top: -5rem;
    left: 0;
    /* z-index: 2; */
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: 6rem;
    width: 16rem;
    box-sizing: border-box;
    padding: 0 2rem 10rem;
    margin: 0 .5rem 0 0;
    overflow: hidden;
    -webkit-transition: all .2s linear, opacity .2s ease-in;
    transition: all .2s linear, opacity .2s ease-in;
    opacity: 0;
    opacity: 0;
    border-radius: inherit;
    background: 50% 165%/100% 92% no-repeat linear-gradient( 
90deg
 , #e7be8a, #ddb480 60%);
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    }
    .nav-ref > * {
           position: relative;
    top: 2vh;
    left: 0;
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0rem;
    margin: 1rem auto;
    font-size: 3.7rem;
		border-style: solid none;}
    .nav {
        position: relative;

        margin: 0 1vmin 0 auto;
    }
   .korpus {
        width: 70%;
        margin: 0 auto;

        text-align: center;
    }
    [id] {
        overflow: hidden;

        -webkit-filter: scale(.5);
                filter: scale(.5);
    }
	
    .korpus {
        width: 70%;
        margin: 0 auto;

        text-align: center;
    }
	.starter [class^="fiszka"]{
		width: 90vw;}
	.starter .content_tresc{
		    width: 100%;
    margin: 0 auto 0 0;
    min-width: fit-content;
	}
	.contact > *{
	width: 90vw;
    flex-flow: column;
	
	}
    body > * {
        margin: 1rem 0;
    }
}
