
.topLane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: max( 100vw,460px );
    height: 9rem;
    padding: 0 10vw;

    background: lightgray center/100%;

    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-filter: drop-shadow(2px 2px 1px lightgray);
            filter: drop-shadow(2px 2px 1px lightgray);
    -ms-flex-align: center;
    -ms-flex-flow: row;
        flex-flow: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.nav,
.nav-ref {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    height: 60%;
    min-width: -webkit-fit-content;
    min-width:    -moz-fit-content;
    min-width:         fit-content;
    box-sizing: border-box;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: space-evenly;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}
.nav {
    color: whitesmoke;
    border-radius: .5rem;
    background: center/100% 100% no-repeat -webkit-gradient(linear, left top, right top, from(#e7be8a), color-stop(60%, #ddb480));
    background: center/100% 100% no-repeat -webkit-linear-gradient(left, #e7be8a, #ddb480 60%);
    background: center/100% 100% no-repeat linear-gradient(90deg, #e7be8a, #ddb480 60%);
    box-shadow: 2px 2px 4px 0 grey;
}

.nav > *,
.nav-ref > * {
    width: -webkit-min-content;
    width:    -moz-min-content;
    width:         min-content;
    padding: 0 1rem;
    margin: auto;
        position: relative;
    font-size: 1.5rem;

    cursor: pointer;
            text-decoration: auto;

    color: whitesmoke;
    /* align-self: center; */
    /* flex: 1; */

    -webkit-text-decoration: auto;
}

.nav__link {
    width: -webkit-max-content;
    width:    -moz-max-content;
    width:         max-content;
    min-width: -webkit-max-content;
    min-width:    -moz-max-content;
    min-width:         max-content;
    margin: auto;

    font-size: 0rem;
    /* padding-left: 14px; */
    /* display: inline-block; */
}

.nav__link > * {
    height: 2.2rem;
}

.nav__link p:first-of-type {
    padding-left: 20px;

    border-left: 3px solid whitesmoke;
}
.nav__link > a:first-child > img {
    border-width: thin;
    border-left-style: outset;
}
.nav__link img {
    height: 4rem;

    vertical-align: super;

    color: beige;
}

.initials_txt {
    font-family: monospace;
    font-size: 4rem;
    font-weight: 700;
    line-height: .3rem;

    color: rgba(72,83,115, 25%);
}

.starter,
main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height:    -moz-fit-content;
    height:         fit-content;
    min-width: min(100%,700px);
    margin: 5rem 0;

    align-self: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-item-align: center;
    place-content: center;
}

.starter .klik {
    position: relative;
    top: 2rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    min-width: -webkit-min-content;
    min-width:    -moz-min-content;
    min-width:         min-content;
    padding: 2rem;
    box-sizing: border-box;

    font-size: 1rem;

    text-align: right;

    align-self: flex-end;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-item-align: end;
}
.starter .content_tresc {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    max-width: 25vw;
    /* max-height: 2em; */
    min-height: -webkit-fit-content;
    min-height:    -moz-fit-content;
    min-height:         fit-content;
    overflow: hidden;

    text-overflow: ellipsis;
    word-break: break-word;
}

.klik > div:nth-child(2) {
    width: 100%;
}

.klik > div:nth-child(2) > p {
    width: 100%;

    text-align: end !important;
}

.starter [class^="fiszka"] {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 140%;
    height: 25rem;
    padding-left: 3rem;

    font-size: 1rem;

    align-self: flex-end;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: space-evenly;
    -ms-flex-flow: column;
        flex-flow: column;
    -ms-flex-item-align: end;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.korpus {
    width: 50%;
    min-width: 300px;

    font-size: 1rem;

    -moz-text-align-last: left;
    /* text-align-last: left; */
}

.korpus img {
    width: 70%;
    min-width: 70%;
    margin: 0 auto 0 0;

    font-size: 1rem;

    border-radius: 7px;

    aspect-ratio: .75;
}
.folia:hover {
    opacity: 100%;
}

.folia {
    position: absolute;
    z-index: 1;

    width: 100%;
    height: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    -webkit-transition: opacity .8s;
            transition: opacity .8s;
    text-align: left;

    opacity: 0;
    background: rgba(229,162,142, 80%);
}
.folia > div {
    margin: 0 15%;
}
.folia dl {
    padding: 0;
    margin: 0;

    color: white;
}
.folia dd {
    padding: 1rem 0;
}
p.folia_ikonki.content_tresc {
    position: absolute;
    right: 0;
    bottom: 0rem;

    display: inline;
    width: 100%;
    margin-right: 0;

    -webkit-transition: invert 4.8s;
            transition: invert 4.8s;
    -moz-text-align-last: right;
         text-align-last: right;

    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
}


[class^="opisObrazek"] {
    width: -webkit-max-content;
    width:    -moz-max-content;
    width:         max-content;
    margin: 0 0 0 auto;
}

[class^="opisObrazek"] > p {
    position: relative;

    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    height: 1rem;

    font-size: clamp(10px, 1.6rem, 2vmax);

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}
.opisObrazek-prace .content_tresc {
    overflow: visible;
}

[class^="opisObrazek"] img {
    height: auto;
    width: clamp(4rem, 50px, 6vmax);
}



.content_nazwa,
.content_tytul {
    font-family: monospace;
    font-size: 4rem;
    font-weight: 500;
}
.content_tytul {
    margin: 0 !important;

    font-weight: 500;

    text-align: left !important;

    color: wheat;
}
[class^=content_] {
    width: 100%;
    margin: 2% auto 0;

    font-size: 2.5rem;
}
.content_tresc {
    font-size: 1.5rem;
}

.content > p:nth-child(3) {
    position: absolute;
    top: 3.5rem;
    right: 0;

    font-size: 1.2rem;
    font-weight: bold;

    text-align: end;

    color: wheat;
}

.contact_show-godnosc {
    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;

    font-family: system-ui;
    font-size: 1.2rem;
    font-weight: 300;

    word-break: break-word;
}

.contact_show-godnosc span {
    font-family: sans-serif;
    font-size: 1.6rem;

    color: #778;
}

.content#tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0;
    overflow: hidden;

    background: center /cover no-repeat url(../import/png/portfolio-onePage/tlo_gradient.png);

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
    place-content: center;
}

.content_lista-kafle.tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-min-content;
    height:    -moz-min-content;
    height:         min-content;
    margin: 2% auto;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: start;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.content_lista-kafle.tools > figure {
    position: relative;

    width: 13rem;
    height: 15rem;
    min-width: 8rem;
    margin: 0;

    background: 0 1rem/100% 110% no-repeat url(../import/png/portfolio-sidebar/programme_apla_biala.png);
    background-attachment: local;
}

.content_lista-kafle.tools .img {
    position: relative;

    width: auto;
    box-sizing: content-box;

    font-size: 1rem;
}

.content_lista-kafle.tools .img img {
    position: relative;

    width: 13rem;
}

.content_lista-kafle.tools > figure > figcaption {
    position: relative;
    bottom: 3rem;

    width: -webkit-min-content;
    width:    -moz-min-content;
    width:         min-content;

    font-size: 1rem;

    text-align: center;
}
figcaption > a {
    display: inline-block;
    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    height: -webkit-fit-content;
    height:    -moz-fit-content;
    height:         fit-content;
}
.content_tresc.content_lista-kafle > figure {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: clamp(300px ,30%, 40vw);
    margin: 2% auto;
    overflow: hidden;

    text-align: right;

    border-radius: 7px;
    background: white;
    box-shadow: 2px 2px 1px darkgray;

    align-items: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-filter: drop-shadow(2px 2px 1px lightgray);
            filter: drop-shadow(2px 2px 1px lightgray);
    -ms-flex-align: center;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}
.content_tresc.content_lista-kafle > figure > img {
    display: block;
    width: 90%;
    height: auto;
    margin: 1rem 0 0;
}


.content_lista-paski {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;

    font-size: 1rem;

    border-width: 0 1px 1px 0;
    border-style: inset outset outset inset;
    border-radius: .3rem;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-filter: drop-shadow(rgba(0, 0, 50, .5) 1px 1px 1px);
            filter: drop-shadow(rgba(0, 0, 50, .5) 1px 1px 1px);
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
}

.content_lista-paski > *,
.skille > div > p {
    position: relative;
    top: 0rem;
    left: 0;

    display: inline-block;
    width: 80%;
    height: 2rem;
    padding: .8rem 1rem;
    margin: 0;
    box-sizing: border-box;

    font-size: 1.3rem;

    text-align: end;
    text-transform: uppercase;

    color: whitesmoke;
    background: 0 .25rem/100% 3.5rem no-repeat padding-box url(../import/png/portfolio-onePage/_elementy_gradient_menu.png);
    text-shadow: whitesmoke 0 1px;

    -webkit-filter: drop-shadow(black 1px 1px 1px);
            filter: drop-shadow(black 1px 1px 1px);
    font-variant-caps: unicase;
}

.tools .img-skala img {
    margin-top: 1rem;

    -webkit-transform: scale(.4);
            transform: scale(.4);
}

.link-sub {
    font-size: 2rem;

    text-decoration: none;

    color: wheat;
}

.submit {
    position: relative;

    display: inline-block;
    width: 14rem;
}

.submit > * {
    display: inline;
    width: 100%;
}

.submit > input {
    position: absolute;
    top: 0;
    left: 0;

    width: 83%;
    height: 66%;
    margin: 7% 8.5%;

    cursor: pointer;

    opacity: 0;
}

.submit > span {
    position: absolute;
    top: calc((50% - 1rem));
    left: 0;

    margin: auto;

    font-size: 1.5rem;

    text-align: center;

    color: whitesmoke;
}

.klik .input {
    position: relative;
}



.submit > p {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
}



.content:nth-of-type(2) {
    font-family: monospace;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: -webkit-min-content;
    min-width:    -moz-min-content;
    min-width:         min-content;
    box-sizing: border-box;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

[class*="about-"] {
    position: relative;

    width: max(50%,300px);
    margin: 0;
}

.skille {
    width: 100%;
    padding: 2rem 0 2rem 1rem;

    border-radius: 7px;
    box-shadow: 2px 2px 3px -1px #224;
}

.skille > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 4rem;
    padding: 0;
    margin: 2em 0;

    border-radius: 5px;
    background: center/100% #dedee2;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.skille > div > p {
    position: relative;
    left: 0;

    display: inline-block;
    height: 100%;
    box-sizing: border-box;

    font-size: 2rem;

    text-align: end;

    color: whitesmoke;
    border-radius: 4px;
    background: 0 0/100% 9rem padding-box no-repeat -webkit-gradient(linear, left top, right top, from(#e7be8a), color-stop(60%, #ddb480));
    background: 0 0/100% 9rem padding-box no-repeat -webkit-linear-gradient(left, #e7be8a, #ddb480 60%);
    background: 0 0/100% 9rem padding-box no-repeat linear-gradient(90deg, #e7be8a, #ddb480 60%);
    box-shadow: 2px 2px 4px 0 grey;

    -webkit-filter: drop-shadow(#88a 3px 3px 3px);
            filter: drop-shadow(#88a 3px 3px 3px);
}

.skille div:nth-child(1) p {
    width: 100%;
}

.skille div:nth-child(2) p {
    width: 90%;
}

.skille div:nth-child(3) p {
    width: 90%;
}

.skille div:nth-child(4) p {
    width: 60%;
}

.skille div:nth-child(5) p {
    width: 90%;
}

.skille div:nth-child(6) p {
    width: 60%;
}

.blogPosts article p img {
    width: 30%;
    height: auto;
}

.blogPosts > article {
    float: left;
    margin: 1% auto;
}

.content-blogPosts > img {
    float: left;
    width: clamp(300px ,30%, 40vw);
    height: auto;
    padding-right: 2.5%;

    -webkit-filter: drop-shadow(3px 3px 2px rgba(20,20,30,80%));
            filter: drop-shadow(3px 3px 2px rgba(20,20,30,80%));
}

.content_nazwa:first-child {
    text-align: left;
}

.content_nazwa:last-child {
    text-align: right;
}

.myWorks > article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}

.myWorks > article > img {
    height: auto;
    min-width: 30%;
    margin: initial;
    margin-bottom: 3%;

    border-radius: 5px;
}

.contact {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 50rem;
    height: -webkit-fit-content;
    height:    -moz-fit-content;
    height:         fit-content;
    padding: 2em 10vw;
    margin: 3% auto 0;
    overflow: visible;

    background: 0 0/cover no-repeat url(../import/png/portfolio-onePage/tlo_gradient.png);
    /* -webkit-box-direction: normal; */

    -webkit-box-orient: horizontal;
    -webkit-box-pack: space-evenly;
    -ms-flex-flow: row wrap-reverse;
        flex-flow: row wrap-reverse;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.contact_form {
    padding-left: 4vw;
    /* -webkit-box-direction: normal; */

    -webkit-box-orient: horizontal;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.contact_form .edit {
    -webkit-box-flex: 5;
    -ms-flex: 5;
        flex: 5;
}


.contact_show {
    display: block;
    min-width: -webkit-min-content;
    min-width:    -moz-min-content;
    min-width:         min-content;
}

.contact > * {
    position: relative;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 400px;
	flex: 1;	
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    align-self: self-start;
    /* overflow: hidden; */
    -ms-flex-item-align: self-start;
}

.contact_form > * {
    align-self: flex-end;
    -ms-flex-item-align: end;
}

.contact_form #txt {
    margin: 0 auto;
}

.napisz > * {
    width: 100%;
    height: 3rem;
    padding: 5px;
    margin: .5em auto;
    box-sizing: border-box;

    font-size: 1rem;

    border: none;
    border-radius: 7px;
    box-shadow: 2px 2px 4px 1px #9999;

    -webkit-filter: drop-shadow(3px 3px 4px rgba(12,12,112, 30%));
            filter: drop-shadow(3px 3px 4px rgba(12,12,112, 30%));
}


.fiszka-witam .contact_show-godnosc {
    max-height: 6rem;

    word-break: break-word;
}

.fiszka-witam div [class^="content_"] {
    min-width: max-content;
    margin: 0 !important;
}

.fiszka#fiszka {
    position: absolute;
    top: 40%;
    left: 0vmax;
    z-index: 1;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    height: 10rem;
    padding: 0 5px;
}div#fiszka > * {

    align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
}


[class^="fiszka"] {
    border-radius: 7px;
    background: no-repeat rgba(255,255,255, 85%);
    box-shadow: 2px 2px 4px 1px #9999;
}

[class^="fiszka"] > * {
    position: relative;

    display: inline;
    box-sizing: border-box;

    text-align: left;
}

p.content_tresc {
    height: -webkit-max-content;
    height:    -moz-max-content;
    height:         max-content;
    max-width: 80%;
    margin: 1% auto 0 0;
}



[class^="fiszka"] > img {
    float: left;
    width: auto;
    height: 10rem;
}

[class^="fiszka"] > div > p > * {
    text-decoration: none;

    color: black;

    align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
}
.contact_show-godnosc > img {
    width: 35rem;
    height: 35rem;
    min-width: 200px;
    min-height: 200px;

    -webkit-filter: sepia(1);
            filter: sepia(1);
}
.contact_show-godnosc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-min-content;
    width:    -moz-min-content;
    width:         min-content;
    height: 100%;
    margin: 0 4vw 0 auto;

    font-size: 2rem;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}

.contact_show-opis {
    padding: 0;

    -moz-text-align-last: right;
         text-align-last: right;

    align-self: flex-end;
    -ms-flex-item-align: end;
}

.contact_show-opis > * {
    margin: 0 auto;
}

.txtAr {
    height: 25rem;

    resize: none;
}
.kolko {
    position: absolute;
    top: -17rem;
    left: -7vw;

    width: 48rem !important;
    height: 48rem !important;

    -webkit-filter: drop-shadow(0px 1px 1px white) !important;
            filter: drop-shadow(0px 1px 1px white) !important;
}
:root {
    min-width: 450px;

    font-family: "gotham_bookregular";
    font-size: max(( 1.5vmax) / 2 , 10px);
}

body {
    width: max(100vw, 470px);
    margin: 0;
    overflow-x: hidden;

    background: url(../import/png/portfolio-onePage/kola_01.png) 78vw 12% / 28vw no-repeat        , url(../import/png/portfolio-onePage/kola_02.png) 30vw 38vh / 19vw no-repeat        , url(../import/png/portfolio-onePage/kola_03.png) 0vw 0vh / 30vw no-repeat,url(../import/png/portfolio-onePage/kola_03.png) 68vw 29% / 30vw no-repeat,url(../import/png/portfolio-onePage/kola_01.png) 72vw 45% / 28vw no-repeat,url(../import/png/portfolio-onePage/kola_01.png) 57vw 59% / 35vw no-repeat,url(../import/png/portfolio-onePage/kola_01.png) -10vw 82% / 28vw no-repeat,url(../import/png/portfolio-onePage/kola_03.png) 27vw 111% / 34vw no-repeat;
}

main,
aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    margin: 3vh auto;

    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
}

main * {
    margin: 0 auto;
}

section > * {
    position: relative;

    width: 100%;
    /* float: left; */
    margin: 0 auto;
}



body > div,
main > *,
aside,
footer {
    width: 100%;
    min-width: 430px;
    padding: 0 10vw;
    margin: 0 auto;
    box-sizing: border-box;

    background-origin: border-box;

    place-content: center;
}

main > article > section {
    margin: 0 auto;

    text-align: center;
}
